body {
    background: teal;
}

img.mg {
    position: absolute;
    max-width: 80%;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    box-shadow: 0 0 10px #eee;
}

img.mg:empty {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  img.mg { max-width: 90%; }
}

@media screen and (orientation: landscape) {
  img.mg { max-height: 90%; }
}